
.templates-container {
    text-align: center;
    padding: 20px;
}

#templates {
    font-size: 2.5em;
    color: #333;
}

.subtext {
    font-size: 1.6em;
    color: #555;
    text-align: center;
    margin: 5%;
}

.template-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.temps {
    display: block;
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: 0.3s;
}

.temps:hover {
    border-color: #555;
}