/* 
h1 {
    text-align: center;
    grid-area: h;
}

a {
    text-decoration: none;
}

#h21 {
    color: rgb(217, 19, 171);
    margin: auto;
    padding: 0.4em;
    text-transform: uppercase;
    font-size: 1.1em;

}

#add {
    margin: auto;
    padding: 0.1em;
}

.head {
    font-size: 1.1em;
    color: rgb(143, 1, 251);
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 10px;
}

.hand {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    margin: 1px;
}

.arr {
    margin: 7px;
}

.del {
    margin-top: 6px;
    margin-bottom: 6px;
}

.edu {
    margin: 25px;

}

#pla {
    margin-bottom: 15px;
}


#fi {
    margin-bottom: 1px;
}

#sec {
    margin-top: 1px;
}

.a {
    margin-left: 10px;
    padding: 10px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
    ;
}

.num {
    position: relative;
    grid-area: b;
    background-color: rgb(250, 243, 243);
    background-color: transparent;
}

.right {
    position: relative;
    grid-area: c;
    background-color: aliceblue;
    background-color: transparent;
}

.abc {
    position: relative;
    grid-area: a;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 248);
    background-color: transparent;

}

.abc::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(254, 252, 252);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.num::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 254);
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.right::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 254);
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
} */



.name {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
    background-color: rgb(151, 163, 214);
    min-height: 50px;
    min-width: auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    min-height: 100vh;
    min-width: 50vw;
    background-color: rgb(174, 175, 237);
    padding: 2%;
}

.right {
    min-height: 100vh;
    min-width: 40vw;
    background-color: rgb(248, 180, 240);
    padding: 2%;
}

img {
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 20px;

}

.left,
.right {
    font-size: 1.1rem;
    word-spacing: 5px;
    /* text-align: justify; */
    text-shadow: 01px 0px 0px rgb(26, 12, 12);
    text-indent: 20px;
    letter-spacing: 2px;

}

/* .add iframe{
    float: left;

} */
a {
    line-height: 1.3rem;
}

address {
    line-height: 1.7rem;
    text-indent: 2rem;
}

b {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

p,
ul {
    text-indent: 2rem;
    line-height: 1.7rem;
    text-transform: capitalize;
    font-style: oblique;
    /* text-align: justify; */
}

h3 {
    color: rgb(78, 76, 76);
}

h2,
h3 {
    text-transform: capitalize;
}

/* .is{
    /* text-align: justify; */
/* border: 2px solid; */
/* width: 365px; */
#ad {
    /* background-color: aqua; */
    margin-left: 0vw;
}

.add {
    border: 2px solid;
    text-align: left;
}