#box {
    min-width: 700px;
    margin: 0 auto;
    background-color: rgb(237, 33, 14);
}

.resume-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    box-sizing: border-box;
}

.left-side,
.right-side {
    min-width: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2%;
}

li{
    display: block;
    font-weight: bolder;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.top{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    display: block;
}

.top p{
    margin-left: 10px;
}
strong{
    font-size: xx-large;
    margin-left: 40px;
}

#top-center{
    margin-left: 39%;
    display: block;
}

#phone1{
    margin-left: 8%;
}
#box {
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
    background-color: #e1dfdf;
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.left-side,
.right-side {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2%;
}

.left-side,
.right-side {
    width: 48%;
}

.left-side{
    border-right: 1px solid black;
}

.resume-container {
    font-family: 'Arial', sans-serif;
}

#box {
    position: relative;
}

#img1 {
    position: absolute;
    top: 20px;
    left: 75px;
}