#box {
    min-width: 700px;
    margin: 0 auto;
    background-color: rgb(220, 223, 209);
}

.resume-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    box-sizing: border-box;
}

.left-side,
.right-side {
    min-width: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2%;
}

li{
    display: block;
    font-weight: bolder;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.top{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    display: block;
}

.top p{
    margin-left: 10px;
}
strong{
    font-size: xx-large;
    margin-left: 40px;
}

#top-center{
    margin-left: 33%;
    display: block;
}

#box {
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
    background-color: rgb(220, 223, 209);
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.left-side,
.right-side {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2%;
}

.left-side,
.right-side {
    width: 48%;
}

.resume-container {
    font-family: 'Arial', sans-serif;
}

h2,
h3 {
    color: #333;
}

